<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All Pets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- adding fonts to website to make it more attractive. Use google fonts bt referencing the css on the Google Fonts APIs CDN-->
    <link href="https://fonts.googleapis.com/css?family=Rozha+One|Roboto" rel="stylesheet"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet"  href="/css/style2.css"/>
</head>

<body class="bg2">
<!-- collapsable navbar begin -->
<nav class="navbar navbar-default roboto">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Lost Pets</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="/home">Home</a></li>
                <li><a href="/add">Add</a></li>
                <li class="active"><a href="/">Show All<span class="sr-only">(current)</span></a></li>
                <li ><a href="/modify">Modify</a></li>
                <li ><a href="/delete">Delete</a></li>
                <li ><a href="/search">Search</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- collapsable navbar end -->

<div class="container">
    <h3 class="table_h3">Click details to see the details of any record.</h3>
    <table class="table table-striped table-bordered table-hover table-responsive">
        <tr>
            <th >Name </th>
            <th>Age </th>
            <th>Type </th>
            <th>Breed </th>
            <th>Color </th>
            <th>Features </th>
            <th>Phone </th>
            <th>CurrentStatus </th>
            <td>Actions </td>
        </tr>
        <tr th:each="pet : ${pets}">
            <td th:text="${pet.name}"></td>
            <td th:text="${pet.age}"></td>
            <td th:text="${pet.type}"></td>
            <td th:text="${pet.breed}"></td>
            <td th:text="${pet.color}"></td>
            <td th:text="${pet.features}"></td>
            <td th:text="${pet.phone}"></td>
            <td th:text="${pet.currentStatus}"></td>
            <td>
                <a th:href="@{/detail/{id}(id=${pet.id})}">Details</a>
            </td>
        </tr>
    </table>
</div>
<!-- Latest compiled and minified JavaScript form jquery and the bootstrap-->
<script
        src="http://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>